<p class="text-right">Farly Tools</p>
<ul class="list-unstyled text-right">{% for weight in (1..13) %}{% for p in site.pages %}{% if p.weight == weight and p.category == "tools"%}<li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>{% endif %}{% endfor %}{% endfor %}
</ul>
<p class="text-right">Farly Tools Application Reference</p>
<ul class="list-unstyled text-right">
{% for weight in (1..13) %}{% for p in site.pages %}{% if p.weight == weight and p.category == "toolsref"%}<li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>{% endif %}{% endfor %}{% endfor %}
</ul>
<p class="text-right">Farly Automated Decision Support Framework</p>
<ul class="list-unstyled text-right">
{% for weight in (1..13) %}{% for p in site.pages %}{% if p.weight == weight and p.category == "adsf"%}<li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>{% endif %}{% endfor %}{% endfor %}
</ul>
<p class="text-right">Farly ADSF Application Reference</p>
<ul class="list-unstyled text-right">
{% for weight in (1..13) %}{% for p in site.pages %}{% if p.weight == weight and p.category == "adsfref"%} <li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li> {% endif %}{% endfor %}{% endfor %}
</ul>
<p class="text-right">Support</p>
<ul class="list-unstyled text-right">
{% for weight in (1..13) %}{% for p in site.pages %}{% if p.weight == weight and p.category == "support"%}<li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>{% endif %}{% endfor %}{% endfor %} 
</ul>
