<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
    </head>
    <body>
        <!-- banner --> 
        <div class="row">
            <div class="col-sm-11">
            <h1 class="text-right"><a href="/">{{ site.name }}</a></h1>
            <p class="text-right">Meet Farly, the newest member of your network team.</p>
            </div>
        </div>
        <!-- menu and content -->
        <div class="row">
            <!-- menu -->
            <div class="col-sm-3">
                <br />
                {% include menu.html %}
            </div>
            <div class="col-sm-8">
                {{ content }}
            </div>
        </div>
        <!-- footer -->
        <div class="row">
            <div class="col-sm-11">
                <p class="text-center">
                    <br /><a href="http://www.farly.net">www.farly.net</a>
                </p>
                <p class="text-muted text-center">
                    <small>Copyright 2013 Trystan Johnson</small>
                </p>
            </div>
        </div>
    </body>
</html>
